@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  font-family: Pretendard !important;
  --primary: #56B984;
  --secondary: #81DEAD;
  --third: #D6E8DB;
  --black: #1C1C1C;
  --dark-gray: #727272;
  --nav-gray: #AFAFAF;
  --gray: #ECECEC;
  --background: #F6F7F6;
  --white: #FDFDFD;
  --red: #F47373;
  --blue: #4A88E5;
  --yellow: #FEE227;
  --kakao-black: #351C1B;
  --kakao-yellow: #F9DD4A;
  
}

#root {
  /* PC */
  width: 100%;
  max-width: 544px;
  height: 100%;

  /* iOS */
  /* width: 390px;
  height: 852px; */

  /* Android */
  /* width: 360px;
  height: 800px; */


  position: relative;
  background-color: var(--white);
  color: var(--black);
  overflow: hidden;
}

body {
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  padding-top: env(safe-area-inset-top);

  overflow: hidden;
  -ms-overflow-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}
::-webkit-scrollbar {
  display: none;
}
